<style>
    tbody .md-row:hover {
        background-color: #fafafa;
    }
    tbody .md-row:focus {
        outline:none;
    }
    [ng-click],
    [data-ng-click],
    [x-ng-click] {
        cursor: pointer;
    }
    .vertical-divider {
      border-top-width: 0;
      border-right-width: 1px;
      border-right-style: solid;
      height: 100%;
    }
</style>

<div layout="column" layout-align="center center" flex layout-padding>
    <h1 style="padding:0.3em;margin:0">{{data.title}}</h1>
    <p style="margin-top:0; text-align:center">{{data.description}}</p>
</div>
<div flex layout="row" layout-align="center center" style="background:white" layout-padding>
    <div flex="20" layout="column" layout-align="center center">
    </div>
    <div flex="20" layout="column" layout-align="center center" style="border-left: 1px solid rgb(212, 213, 214)">
        <h3>{{ unique_students }} / {{ total_students }}</h3>
        <div class="reg">Students Reporting</div>
    </div>
    <div flex="20" layout="column" layout-align="center center" style="border-right: 1px solid rgb(212, 213, 214)">
        <h3>{{data.result_set.length}}</h3>
        <div ng-if="data.result_set.length != 1" class="reg">Results</div>
        <div ng-if="data.result_set.length == 1" class="reg">Result</div>
    </div>
    <div flex="20" layout="column" layout-align="center center">
        <md-button class="md-fab md-primary" aria-label="API Keys" ng-click="popup_api_key.show()">
            <ng-md-icon icon="vpn_key"></ng-md-icon>
        </md-button>
    </div>
</div>
<div layout="row" ng-if="date_progress" layout-align="center center" flex style="background:#d4d5d6">
    <p class="reg" layout-padding>{{data.start_date | human_time_1 }}</p>
    <md-progress-linear md-mode="determinate" value={{date_progress}}></md-progress-linear>
    <p class="reg" layout-padding>{{data.end_date | human_time_1 }}</p>
</div>
<div class="container-fluid" layout="row" layout-align="center">
    <md-card flex="80">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div>Results</div>
                <span flex></span>
                <div class="md-title">Multiple submissions {{data.submit_multiple | checkbox_filter}}</div>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column md-order-by="student.name">Name</th>
                            <th md-column md-order-by="submitted">Submitted</th>
                            <th md-column>Points</th>
                            <th md-column>Answers missed</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="result in data.result_set | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit ">
                            <td md-cell>
                                <a href="#/courses/{{ data.course_info.id }}/students/{{ result.student.id }}">
                                {{result.student.name}}
                                </a>
                            </td>
                            <td md-cell>{{ result.submitted | human_time_2 }}</td>
                            <td md-cell>{{ result.points_earned }} / {{ result.points_possible }}</td>
                            <td md-cell>
                                <ul>
                                    <li ng-repeat="n in result.notes">{{n}}</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{data.result_set.length}}" md-page-select="options.pageSelect"></md-table-pagination>
        </md-card-content>
    </md-card>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="popup_api_key">
        <md-dialog>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span class="md-headline">API Keys</span>
                    <span flex></span>
                    <md-button ng-click="popup_api_key.cancel()" aria-label="close" class="md-icon-button">
                        <ng-md-icon icon="close"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-card style="margin:0">
                <md-card-content layout="column">
                    <h3>Configuring Scripts</h3>
                    <md-table-container>
                        <table md-table>
                            <tbody md-body>
                                <tr md-row>
                                    <td md-cell>Assessment ID</td>
                                    <td md-cell><pre>{{ data.id }}</pre></td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-card-content>
            </md-card>
        </md-dialog>
    </div>
</div>
