<style>
    md-list-item:hover {
        background-color: #34b3a0;
    }
    .hov {
        color:white;
    }
</style>
<div layout="row" layout-align="center center" style="padding-top:1em">
    <md-content flex="50" class="md-whiteframe-1dp">
        <md-list style="padding:0">
            <md-list-item ng-repeat="course in courses" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-click="go(course.id)">
                <p ng-class="{'hov':hovering}">{{course.name}}</p>
                <span flex></span>
                <ng-md-icon ng-class="{'hov':hovering}" icon="keyboard_arrow_right"></ng-md-icon>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>
