<style>
    tbody .md-row:hover {
        background-color: #fafafa;
    }
    tbody .md-row:focus {
        outline:none;
    }
    [ng-click],
    [data-ng-click],
    [x-ng-click] {
        cursor: pointer;
    }
    .vertical-divider {
      border-top-width: 0;
      border-right-width: 1px;
      border-right-style: solid;
      height: 100%;
    }
    .validation-messages {
        font-size: 12px;
        color: #dd2c00;
        margin: 10px 0 0 25px; 
    }
</style>

<div layout="column" layout-align="center center" flex layout-padding>
    <div layout="row" layout-align="center center">
        <h1 style="padding:0.3em;margin:0">{{course.name}}</h1>
        <div ng-repeat="prof in course.professor" style="padding:0.1em">
            <img gravatar-src="prof.email" gravatar-size="30" style="border-radius:50%">
        </div>
    </div>
    <p style="margin-top:0; text-align:center">{{course.description}}</p>
</div>
<div flex layout="row" layout-align="center center" style="background:white" layout-padding>
    <div flex="20" layout="column" layout-align="center center" style="border-left: 1px solid rgb(212, 213, 214)">
        <h3>{{course.students.length}}</h3>
        <div ng-if="course.students.length != 1"class="reg">Students</div>
        <div ng-if="course.students.length == 1"class="reg">Student</div>
    </div>
    <div flex="20" layout="column" layout-align="center center" style="border-right: 1px solid rgb(212, 213, 214)">
        <h3>{{course.assessment_set.length}}</h3>
        <div ng-if="course.assessment_set.length != 1"class="reg">Assessments</div>
        <div ng-if="course.assessment_set.length == 1"class="reg">Assessment</div>
    </div>
</div>
<div layout="row" layout-align="center center" flex style="background:#d4d5d6">
    <p class="reg" layout-padding>{{start_date}}</p>
    <md-progress-linear md-mode="determinate" value={{date_progress}}></md-progress-linear>
    <p class="reg" layout-padding>{{end_date}}</p>
</div>


<div layout="row" layout-align="center center">
    <h2 id="goto">Classroom</h2>
    <div layout="row">
        <md-button ng-click="assessmentPopup($event)">
            <ng-md-icon icon="add_box"></ng-md-icon>
            Add assessment
        </md-button>
    </div>
</div>

<div class="container-fluid" layout="row" layout-align="center">
    <md-card flex="80">
        <md-card-content>
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="query.order" md-on-reorder="updateData">
                        <tr md-row>
                            <th md-column md-order-by="name">NAME</th>
                            <th ng-repeat="assessment in course.assessment_set" md-column>
                                <a ng-href="#/courses/{{ course.id }}/assessment/{{ assessment.id }}">
                                    {{assessment.title}}
                                </a>
                            <th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="student in course.students | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" ng-click="go(student.id)">
                            <td md-cell>{{student.name}}</td>
                            <td ng-repeat="assessment in course.assessment_set" md-cell>{{student_result(assessment.result_set, student.id)}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination
                md-limit="query.limit"
                md-page="query.page"
                md-total="{{course.students.length}}"
                md-page-select="options.pageSelect">
            </md-table-pagination>
        </md-card-content>
    </md-card>
</div>

<div style="visibility: hidden">
  <div class="md-dialog-container" id="assessment_card">
    <md-dialog>
        <md-card style="margin:0">
            <md-card-content>
                <form name="assessmentForm" ng-submit="submit()" novalidate>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Name</label>
                            <input required name="name" md-no-asterisk ng-model="assessment.title" placeholder="e.g. Quiz 1">
                            <div ng-messages="assessmentForm.name.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Description</label>
                            <input required name="description" md-no-asterisk ng-model="assessment.description" placeholder="e.g. reading on phage P1">
                            <div ng-messages="assessmentForm.description.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                        <div layout="column" flex="50">
                            <md-datepicker required name="start_date" ng-model="assessment.start_date" md-placeholder="Start date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
                            <div class="validation-messages" ng-hide="assessmentForm.start_date.$untouched" ng-messages="assessmentForm.start_date.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </div>
                        <div layout="column" flex="50">
                            <md-datepicker required name="end_date" ng-model="assessment.end_date" md-placeholder="End date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
                            <div class="validation-messages" ng-hide="assessmentForm.end_date.$untouched" ng-messages="assessmentForm.end_date.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </div>
                    </div>
                </form>
            </md-card-content>
            <div layout="row">
                <div layout="column" layout-align="center start" flex>
                    <md-button ng-click="cancel()">
                        <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
                        Cancel
                    </md-button>
                </div>
                <div layout="column" layout-align="center end" flex>
                    <md-button ng-disabled="assessmentForm.$invalid" ng-click="submit()">
                        Submit
                        <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
                    </md-button>
                </div>
            </div>
        </md-card>
    </md-dialog>
  </div>
</div>
