<style>
    tbody .md-row:hover {
        background-color: #fafafa;
    }
    tbody .md-row:focus {
        outline:none;
    }
    [ng-click],
    [data-ng-click],
    [x-ng-click] {
        cursor: pointer;
    }
</style>
<div class="container-fluid" layout="row" layout-align="center">
    <md-card flex>
        <md-card-content>
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="query.order" md-on-reorder="updateData">
                        <tr md-row>
                            <th md-column md-order-by="name"><span>Name</span></th>
                            <th md-column><span>Email</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="student in course.students | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" ng-click="go(student.id)">
                            <td md-cell>{{student.name}}</td>
                            <td md-cell>{{student.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination
                md-limit="query.limit"
                md-page="query.page"
                md-total="{{course.students.length}}"
                md-page-select="options.pageSelect">
            </md-table-pagination>
        </md-card-content>
    </md-card>
</div>
