<!doctype html>
<html lang="en" ng-app="guanineApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title ng-bind="'GUANINE &mdash; ' + title">GUANINE</title>
    <link href="build/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <script type="text/javascript" src="build/app.js" charset="utf-8"></script>
</head>
<body>
    <div ng-controller="NavCtrl" layout="column" style="height:500px" ng-cloak>
        <md-toolbar ng-cloak>
            <div class="md-toolbar-tools" ng-class="{'home': home}">
                <h2>
                    <span class="md-title">
                        <a ng-if="!nav.userData.email" href="#/">
                            <img src="img/logo-green.svg" style="height:20px"/>
                            <span>GUANINE</span>
                        </a>
                        <a ng-if="nav.userData.email" href="#/courses/">
                            <img src="img/logo-green.svg" style="height:20px"/>
                            <span>GUANINE</span>
                        </a>
                    </span>
                </h2>
                <span flex></span>
                <md-menu md-position-mode="target-right target" md-offset="0 55" ng-if="nav.userData.username">
                    <md-button aria-label="Open user menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" style="padding:0" layout="row" layout-align="center center">
                        <img md-menu-origin gravatar-src="nav.userData.email" style="width:100%; border-radius: 50%">
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="go('/logout')">
                                <span md-menu-align-target>Logout</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-button aria-label="Login" ng-if="!nav.userData.username" ng-hide="nav.show_login_button == false" ng-click="go('/login')" class="md-secondary">
                    Sign In
                </md-button>
            </div>
        </md-toolbar>

        <div class="view-container">
            <div ng-view class="view-frame"></div>
        </div>
    </div>

</body>
</html>
